@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


:root {
    --btn-accent-color: rgb(153, 134, 42);
    --hover-btn-accent-color: rgb(106, 94, 31);

    --accent-color: rgb(40, 40, 40);
    --second-color: rgb(230, 227, 196);

    --text-color: #fff  ;

    --h1-fonts: "Playfair Display", sans-serif;
    --accent-fonts: "Montserrat", sans-serif;
}
